<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title tiles:fragment="title">Admin panel</title>
</head>
<body>
<div class="container-fluid bg-light">
    <!--первая строка-->
    <div class="row bg-dark">
        <div class="col ">
            <ul class="list-inline text-white mb-0 mt-2">
                <li class="list-inline-item h4" th:text="${#request.userPrincipal.principal.email}">email</li>
                <li class="list-inline-item h4 font-weight-light">with roles:</li>
                <li class="list-inline-item h4 font-weight-light"
                    th:each="role, iter: ${#request.userPrincipal.principal.roles}"
                    th:text="${role.name} + ${!iter.last ? ' ' : ''}">roles
                </li>
            </ul>
        </div>
        <div class="col-auto">
            <ul class="list-inline text-white mb-0 mt-2">
                <li class="list-inline-item h6  "><a th:href="@{logout}"
                                                     class="font-weight-light text-white-50">Logout</a></li>
            </ul>
        </div>
    </div>
    <!--вторая строка-->
    <div class="row no-gutters" style="height:100vh">
        <!--левая колонка с выбором admin, user-->
        <ul class="nav nav-pills flex-column bg-white col-xl-2  ml-n3" id="tabAdminUser" role="tablist">
            <li class="nav-item mt-3">
                <a class="nav-link active" id="admin-tab" data-toggle="tab" href="#admin" role="tab"
                   aria-controls="admin" aria-selected="true">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="user"
                   aria-selected="false">User</a>
            </li>
        </ul>
        <!--правая колонка admin, user-->
        <div class="tab-content col ">
            <!--правая колонка с содержимом admin (Admin panel)-->
            <div class="tab-pane active m-4" id="admin" role="tabpanel" aria-labelledby="admin-tab">
                <h1>Admin panel</h1>
                <!--горизонтальные вкладки Users table, New User-->
                <ul class="nav nav-tabs" id="tabUsers" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="usersTable-tab" data-toggle="tab" href="#usersTable" role="tab"
                           aria-controls="usersTable" aria-selected="true">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="newUser-tab" data-toggle="tab" href="#newUser" role="tab"
                           aria-controls="newUser" aria-selected="false">New User</a>
                    </li>
                </ul>
                <!--содержимое вкладок Users table, New user-->
                <div class="tab-content" id="myTabContent">
                    <!--содержимое вкладки Users table (All users)-->
                    <div class="tab-pane active" id="usersTable" role="tabpanel" aria-labelledby="usersTable-tab">
                        <h5 class="border m-0 p-3">All users</h5>
                        <div class="border bg-white">
                            <div class="m-4">
                                <div th:if="${alarm}" class="alert alert-danger text-center" role="alert" >
                                    Данный email существует!
                                </div>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First name</th>
                                        <th>Last name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user, iter1: ${users}">
                                        <td th:text="${user.getId()}"></td>
                                        <td th:text="${user.getName()}"></td>
                                        <td th:text="${user.getSurname()}"></td>
                                        <td th:text="${user.getAge()}"></td>
                                        <td th:text="${user.getEmail()}"></td>
                                        <td>
                                            <a th:each="role, iter: ${user.getRoles()}"
                                               th:text="${role.name} + ${!iter.last ? ' ' : ''}"></a>
                                        </td>
                                        <td>
                                            <!--кнопка delete user-->
                                            <button class="btn btn-info" type="button" data-toggle="modal"
                                                    th:data-target="${'#editModal'+ user.id}">Edit
                                            </button>
                                            <!--содержимое модального окна Edit user-->
                                            <div class="modal fade" tabindex="-1" role="dialog"
                                                 aria-labelledby="editModalLabel" aria-hidden="true"
                                                 th:id="${'editModal' + user.id}">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="editModalLabel">Edit
                                                                user</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form th:method="PUT"
                                                                  th:action="@{/edit/{id}(id=${user.getId()})}"
                                                                  th:object="${user}"
                                                                  th:id="${'editForm' + user.id}" class="text-center">
                                                                <div class="row justify-content-center">
                                                                    <div class="m-3 col-xs-3">
                                                                        <div class="form-group">
                                                                            <label class="font-weight-bold mb-n1"
                                                                                   for="id">ID</label>
                                                                            <input type="text" class="form-control"
                                                                                   readonly th:value="*{id}" id="id"
                                                                                   name="id">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="font-weight-bold mb-n1"
                                                                                   for="name">First name</label>
                                                                            <input type="text" class="form-control"
                                                                                   placeholder="Name" th:value="*{name}"
                                                                                   id="name"
                                                                                   name="name">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="font-weight-bold mb-n1"
                                                                                   for="surname">Last name</label>
                                                                            <input type="text" class="form-control"
                                                                                   placeholder="Surname"
                                                                                   th:value="*{surname}"
                                                                                   id="surname" name="surname">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="font-weight-bold mb-n1"
                                                                                   for="age">Age</label>
                                                                            <input type="number" class="form-control"
                                                                                   placeholder="Age"
                                                                                   th:value="*{age}" id="age"
                                                                                   name="age">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="font-weight-bold mb-n1"
                                                                                   for="email">Email</label>
                                                                            <input type="email" class="form-control"
                                                                                   placeholder="Email"
                                                                                   th:value="*{email}" id="email"
                                                                                   name="email">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="font-weight-bold mb-n1"
                                                                                   for="password">Password</label>
                                                                            <input type="password" class="form-control"
                                                                                   placeholder="Password"
                                                                                   th:value="*{password}"
                                                                                   id="password" name="password">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="font-weight-bold mb-n1"
                                                                                   for="roles">Role</label>
                                                                            <select multiple class="form-control"
                                                                                    id="roles"
                                                                                    th:field="*{roles}">
                                                                                <option th:each="role: ${allRoles}"
                                                                                        th:text="${role.name}"
                                                                                        th:value="${role.id}">roles
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer border">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" class="btn btn-primary"
                                                                    th:form="${'editForm' + user.id}">Edit
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <!--кнопка Delete user-->
                                            <button class="btn btn-danger" type="button" data-toggle="modal"
                                                    th:data-target="${'#deleteModal'+ user.id}">Delete
                                            </button>
                                            <!--содержимое модального окна Delete user-->
                                            <div class="modal fade" tabindex="-1" role="dialog"
                                                 aria-labelledby="deleteModalLabel" aria-hidden="true"
                                                 th:id="${'deleteModal' + user.id}">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="deleteModalLabel">Edit
                                                                user</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form th:method="DELETE"
                                                                  th:action="@{/delete/{id}(id=${user.getId()})}"
                                                                  th:object="${user}"
                                                                  th:id="${'deleteForm' + user.id}" class="text-center">
                                                                <div class="row justify-content-center">
                                                                    <div class="m-3 col-xs-3">
                                                                        <div class="form-group">
                                                                            <label class="font-weight-bold mb-n1"
                                                                                   for="id">ID</label>
                                                                            <input type="text" class="form-control"
                                                                                   readonly th:value="*{id}" id="id"
                                                                                   name="id">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="font-weight-bold mb-n1"
                                                                                   for="name">First name</label>
                                                                            <input type="text" class="form-control"
                                                                                   placeholder="Name" readonly
                                                                                   th:value="*{name}"
                                                                                   id="name"
                                                                                   name="name">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="font-weight-bold mb-n1"
                                                                                   for="surname">Last name</label>
                                                                            <input type="text" class="form-control"
                                                                                   placeholder="Surname"
                                                                                   readonly th:value="*{surname}"
                                                                                   id="surname" name="surname">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="font-weight-bold mb-n1"
                                                                                   for="age">Age</label>
                                                                            <input type="number" class="form-control"
                                                                                   placeholder="Age"
                                                                                   readonly th:value="*{age}" id="age"
                                                                                   name="age">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="font-weight-bold mb-n1"
                                                                                   for="email">Email</label>
                                                                            <input type="email" class="form-control"
                                                                                   placeholder="Email"
                                                                                   readonly th:value="*{email}"
                                                                                   id="email"
                                                                                   name="email">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="font-weight-bold mb-n1"
                                                                                   for="roles">Role</label>
                                                                            <select multiple class="form-control"
                                                                                    id="roles"
                                                                                    readonly th:field="*{roles}">
                                                                                <option th:each="role: ${allRoles}"
                                                                                        th:text="${role.name}"
                                                                                        th:value="${role.id}">roles
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer border">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" class="btn btn-danger"
                                                                    th:form="${'deleteForm' + user.id}">Delete
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <!--содержимое вкладки New user (Add new user)-->
                    <div class="tab-pane" id="newUser" role="tabpanel" aria-labelledby="newUser-tab">
                        <h5 class="border m-0 p-3">Add new user</h5>
                        <div class="border bg-white">
                            <form class="text-center" th:method="POST" th:action="@{/}" th:object="${user}">
                                <div class="row justify-content-center">
                                    <div class="col-sm-3">
                                        <div class="form-group mt-3">
                                            <label class="font-weight-bold" for="name">First name</label>
                                            <input type="text" class="form-control" id="name" placeholder="First name"
                                                   th:field="*{name}">
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold" for="surname">Last name</label>
                                            <input type="text" class="form-control" id="surname" placeholder="Last name"
                                                   th:field="*{surname}">
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold" for="age">Age</label>
                                            <input type="number" class="form-control" id="age" placeholder="Age"
                                                   th:field="*{age}">
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold" for="email">Email</label>
                                            <input type="email" class="form-control" id="email" placeholder="Email"
                                                   th:field="*{email}">
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold" for="password">Password</label>
                                            <input type="password" class="form-control" id="password"
                                                   placeholder="Password"
                                                   th:field="*{password}">
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold" for="roles">Role</label>
                                            <select multiple class="form-control" id="roles" th:field="*{roles}">
                                                <option th:each="role: ${allRoles}" th:text="${role.name}"
                                                        th:value="${role.id}">roles
                                                </option>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-success mb-3">Add new user</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--правая колонка с содержимом user (User information-page)-->
            <div class="tab-pane m-4" id="user" role="tabpanel" aria-labelledby="user-tab">
                <h1>User information-page</h1>
                <div class="tab-pane active" id="usersTable" role="tabpanel" aria-labelledby="usersTable-tab">
                    <h5 class="border m-0 p-3">About user</h5>
                    <div class="border bg-white">
                        <div class="m-4">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${#request.userPrincipal.principal.id}"></td>
                                    <td th:text="${#request.userPrincipal.principal.name}"></td>
                                    <td th:text="${#request.userPrincipal.principal.surname}"></td>
                                    <td th:text="${#request.userPrincipal.principal.age}"></td>
                                    <td th:text="${#request.userPrincipal.principal.email}"></td>
                                    <td>
                                        <a th:each="role, iter: ${#request.userPrincipal.principal.roles}"
                                           th:text="${role.name} + ${!iter.last ? ' ' : ''}">Roles</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>