<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User information</title>
</head>

<body>
<!--Верхняя навигационная панель-->
<div class="navbar navbar-expand-md navbar-dark bg-dark align-items-center justify-content-between">
    <div class="col-11 text-white" id="authorised_user-data">
        <!--        Заполнение из js-->
    </div>
    <div class="btn btn-link mr-0 col-1 ml-auto">
        <a class="badge" style="color: grey" href="/logout">Logout</a>
    </div>
</div>

<div class="container-fluid">
    <div class="row mt-0">
        <!--Вертикальная навигационная панель сбоку-->
        <div class=" col-12 ml-0 nav" role="tablist" id="vertical_navigation" aria-orientation="vertical">
            <div class="col-2 pt-3 px-0 nav flex-column nav-pills" style="background-color: white">
                <!--Кнопка Admin в боковой панели-->
                <a class="nav-link active" id="vertical_navigation-admin" data-toggle="tab" role="tab"
                   aria-controls="admin-panel" aria-selected="true"
                   href="#admin_panel" sec:authorize="hasAuthority('ROLE_ADMIN')">Admin</a>
                <!--Кнопка User в боковой панели-->
                <a class="nav-link" id="vertical_navigation-user" data-toggle="tab" href="#user_panel" role="tab"
                   aria-controls="user-panel" aria-selected="false"
                   sec:authorize="hasAnyAuthority('ROLE_USER', 'ROLE_ADMIN')">User</a>
            </div>


            <!--Все панели-->
            <div class="col-10 tab-content pt-0 px-0">

                <!--Панель админа со списком всех юзеров-->
                <div class="pt-2 px-0 tab-pane fade show active" style="background-color: #eeeeee" id="admin_panel">
                    <div class="container-fluid justify-content-end">
                        <h2>Admin panel</h2>

                        <!--Горизонтальная навигационная панель админа-->
                        <ul class="nav nav-tabs" role="tablist" id="horizontal_navigation">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#main"
                                   id="horizontal_navigation-users_table">Table users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href=#add_new_user
                                   id="horizontal_navigation-new_user">New user</a>
                            </li>
                        </ul>

                        <!--Данные-->
                        <div class="tab-content">

                            <!--Таблица юзеров-->
                            <div class="tab-pane fade show active" id="main">
                                <div class="card">
                                    <h5 class="card-header">All users</h5>
                                    <div class="container-fluid card-body">
                                        <table class="table table-striped">
                                            <tr class="container-fluid" style="background-color: white">
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Surname</th>
                                                <th>Age</th>
                                                <th>Email</th>
                                                <th>Role</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                            <tbody class="all-users-table">

                                            </tbody>

                                            <!--модальное окно Edit-->
                                            <div class="modal fade" tabindex="-1" role="dialog" id="modal-edit">
                                                <form>
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">

                                                            <!--Заголовок-->
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Data change</h5>
                                                                <button id="exit_btn-modal-edit" type="button"
                                                                        class="close"
                                                                        data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <!--Тело-->
                                                            <div class="modal-body">
                                                                <div class="container-fluid" align="center">

                                                                    <div class="form-group col-7" align="center">
                                                                        <label class="col-form-label"
                                                                               for="edit-id">ID</label>
                                                                        <input class="form-control edited-users-id"
                                                                               type="text" disabled id="edit-id"
                                                                               data-target="id"/>
                                                                    </div>

                                                                    <div class="form-group col-7">
                                                                        <label class="col-form-label" for="edit-name">Name</label>
                                                                        <input class="form-control" type="text"
                                                                               id="edit-name"/>
                                                                    </div>

                                                                    <div class="form-group col-7">
                                                                        <label class="col-form-label"
                                                                               for="edit-surname">Surname</label>
                                                                        <input class="form-control" type="text"
                                                                               id="edit-surname"/>
                                                                    </div>

                                                                    <div class="form-group col-7">
                                                                        <label class="col-form-label"
                                                                               for="edit-age">Age</label>
                                                                        <input class="form-control" type="text"
                                                                               id="edit-age"/>
                                                                    </div>

                                                                    <div class="form-group col-7">
                                                                        <label class="col-form-label"
                                                                               for="edit-email">Email</label>
                                                                        <input class="form-control" type="text"
                                                                               id="edit-email"/>
                                                                    </div>

                                                                    <div class="form-group col-7">
                                                                        <label class="col-form-label"
                                                                               for="edit-rolesSelect">Role</label>
                                                                        <select id="edit-rolesSelect"
                                                                                class="form-control" size="2" multiple
                                                                                name="roles" required="required">
                                                                            <option id="edit-role_admin"
                                                                                    name="role_admin" value="1">
                                                                                Admin
                                                                            </option>
                                                                            <option id="edit-role_user" value="2">
                                                                                User
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button id="close_btn-modal-edit" type="button"
                                                                        class="btn btn-secondary"
                                                                        data-dismiss="modal">
                                                                    Close
                                                                </button>
                                                                <button id="submit_btn-modal-edit" type="submit"
                                                                        class="btn btn-primary"
                                                                        data-target="#editForm">
                                                                    Edit
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                            <!--                                            модальное окно Delete-->
                                            <div id="modal-delete" class="modal fade" tabindex="-1" role="dialog">
                                                <form id="modal-delete_form">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">

                                                            <!--Заголовок-->
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Delete user</h5>
                                                                <button id="exit_btn-modal-delete" type="button"
                                                                        class="close"
                                                                        data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <!--Тело-->
                                                            <div class="modal-body">
                                                                <div class="container-fluid" align="center">
                                                                    <div class="form-group col-7" align="center">
                                                                        <label class="col-form-label"
                                                                               for="delete-id">ID</label>
                                                                        <input class="form-control" type="text"
                                                                               id="delete-id" disabled/>
                                                                    </div>
                                                                    <div class="form-group col-7">
                                                                        <label class="col-form-label" for="delete-name">Name</label>
                                                                        <input class="form-control" type="text"
                                                                               id="delete-name" disabled/>
                                                                    </div>
                                                                    <div class="form-group col-7">
                                                                        <label class="col-form-label"
                                                                               for="delete-surname">Surname</label>
                                                                        <input class="form-control" type="text"
                                                                               id="delete-surname" disabled/>
                                                                    </div>
                                                                    <div class="form-group col-7">
                                                                        <label class="col-form-label"
                                                                               for="delete-age">Age</label>
                                                                        <input class="form-control" type="text"
                                                                               id="delete-age" disabled/>
                                                                        <div class="form-group col-7">
                                                                            <label class="col-form-label"
                                                                                   for="delete-email">Email</label>
                                                                            <input class="form-control" type="text"
                                                                                   id="delete-email" disabled/>
                                                                        </div>
                                                                        <div class="form-group col-7">
                                                                            <label class="col-form-label"
                                                                                   for="delete-roles">Role</label>
                                                                            <select id="delete-roles" class="form-control"
                                                                                    size="2"
                                                                                    multiple name="roles" disabled>
                                                                                <option id="delete-role_admin" value="1">
                                                                                    Admin
                                                                                </option>
                                                                                <option id="delete-role_user" value="2">
                                                                                    User
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button id="close_btn-modal-delete" type="button"
                                                                            class="btn btn-secondary" data-dismiss="modal"> Close
                                                                    </button>
                                                                    <button id="submit_btn-modal-delete" type="submit"
                                                                            class="btn btn-danger"
                                                                            data-target="#DeleteForm"> Delete
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </table>

                                    </div>
                                </div>
                            </div>

                            <!--                            Форма для добавления юзера-->
                            <div class="tab-pane fade" id="add_new_user">
                                <div class="card">
                                    <h5 class="card-header">Add new user</h5>
                                    <div class="card-body" align="center">
                                        <form class="add-user-form">
                                            <div class="form-group col-6" align="center">
                                                <label for="add-user-form-name">Name</label>
                                                <input class="form-control alert-warning"
                                                       id="add-user-form-name">
                                            </div>
                                            <div class="form-group col-6" align="center">
                                                <label for="add-user-form-surname">Surname</label>
                                                <input class="form-control alert-warning"
                                                       id="add-user-form-surname">
                                            </div>
                                            <div class="form-group col-6" align="center">
                                                <label for="add-user-form-age">Age</label>
                                                <input class="form-control alert-warning"
                                                       id="add-user-form-age">
                                            </div>
                                            <div class="form-group col-6" align="center">
                                                <label for="add-user-form-email">Email</label>
                                                <input class="form-control alert-warning"
                                                       id="add-user-form-email">
                                            </div>
                                            <div class="form-group col-6" align="center">
                                                <label for="add-user-form-password">Password</label>
                                                <input class="form-control" id="add-user-form-password">
                                            </div>
                                            <div class="form-group col-6" align="center">
                                                <label for="add-user-form-roles">Role</label>
                                                <select class="form-control" name="roles" multiple required="required"
                                                        size="2" id="add-user-form-roles">
                                                    <option value="1">Admin</option>
                                                    <option value="2">User</option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-success" id="add-btn-submit">
                                                Add
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--                Панель юзера-->
                <div class="tab-pane fade" id="user_panel">
                    <div class="card">
                        <h5 class="card-header">About the user</h5>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Surname</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>

                                <tbody id="user_panel-data">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="admin.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>