<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"  >
    <head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Данные пользователя</h1>
<h2>Зарегестрированный пользователь: <b th:text="${#request.userPrincipal.principal.username}"></b></h2>
<h2>Имя: <b th:text="${#request.userPrincipal.principal.name}"></b></h2>
<h2>Фамилия: <b th:text="${#request.userPrincipal.principal.surname}"></b></h2>
<h2>Почта: <b th:text="${#request.userPrincipal.principal.email}"></b></h2>
<h2>Возраст: <b th:text="${#request.userPrincipal.principal.age}"></b></h2>

<a th:href="@{logout}">Выйти</a>
</body>
</html>